<sky-modal>
  <sky-modal-header>
    Title
  </sky-modal-header>
  <sky-modal-content>
    <div
      id="docs-modal-content"
    >
      This modal can have content!
    </div>
    <label>
      Value A
    </label>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
    <p>
      More Text
    </p>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-primary"
      type="button"
      (click)="onCancel()">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>